.editor-container{
  position: relative;
  .mc-emoji-container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;

    cursor: pointer;
    .mart-toggler{
      width: 100%;
      height: 100%;
      background-color: greenyellow;

    }
    .mc-emoji-mart{
      position: absolute;
      right: 0;
      top:20px
    }
  }
  }
  .dx-popup-content{
    width: 200px;
  }
  .sugget-item-container{
    div img{
      width: 100%;
    }
  }

  .mc-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .mc-tooltip .mc-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .mc-tooltip:hover .mc-tooltiptext {
    visibility: visible;
    opacity: 1;
  }
